<div class="w-full min-h-[85vh] mt-[15vh] bg-light dark:bg-dark">
    <div class="max-w-screen-xl mx-auto dark:text-gray-200 flex flex-col gap-10 p-10" >
        <h1 class="text-5xl dark:text-gray-100">Acerca de Nosotros</h1>

        <p>En "Tu Salud Online", creemos en el poder de la tecnología para transformar y mejorar el cuidado de la salud.
            Nuestra misión es acercar los servicios médicos de alta calidad a cada rincón, eliminando las barreras
            físicas y
            temporales que muchas veces impiden o retrasan el acceso a una atención adecuada.</p>

        <p>Fundada por un equipo de profesionales de la salud y tecnología, "Tu Salud Online" surge como respuesta a la
            necesidad creciente de una alternativa accesible, eficiente y segura para consultas médicas. Estamos
            comprometidos con la excelencia y la innovación en el servicio de atención médica, asegurando que cada
            paciente
            reciba la atención personalizada y de calidad que merece.</p>

        <p>Nuestra plataforma ofrece una amplia gama de especialidades, permitiendo a los usuarios consultar con médicos
            calificados a través de videoconferencias, chat y llamadas telefónicas. Con una interfaz amigable y un
            proceso
            de reserva simplificado, facilitamos que las personas gestionen su salud de manera proactiva, sin importar
            dónde
            se encuentren.</p>

        <p>La privacidad y seguridad de los datos de nuestros usuarios es una prioridad absoluta. Implementamos las más
            estrictas medidas de seguridad para garantizar que la información personal y médica se maneje con el mayor
            nivel
            de confidencialidad y protección.</p>

        <p>"Tu Salud Online" no es solo una plataforma de consultas médicas; es un movimiento hacia un futuro donde el
            cuidado de la salud es más inclusivo, accesible y centrado en el paciente. Te invitamos a unirte a nosotros
            en
            este viaje hacia un bienestar sin fronteras.</p>


    </div>
</div>
