<div #audioWindow class="fixed max-w-screen flex transition items-center justify-center translate-x-[87%]  top-40 right-0 rounded-l-3xl bg-main dark:bg-light w-fit h-fit p-4 space-x-4 text-black">
    <div (click)="toggleButton()" class="hover:scale-110 transition flex items-center justify-center">
        <span #openButton class="material-icons transition duration-300 bg-secondary-light rounded-full p-2 order-1 cursor-pointer text-center">
            arrow_back_ios
        </span>
    </div>
    <div class="cursor-pointer hover:scale-110 transition" (click)="play()">
        <span class="material-icons-outlined">{{ audioElement.paused ? 'play_arrow' : 'pause' }}</span>
    </div>
    <span class="">{{formatTime(curTime())}} / {{formatTime(time())}}</span>
    <div>
        <input type="range" max="{{time()}}" value="{{curTime()}}" min="0" (change)="slideTime(slider.value) " #slider>
    </div>
    <div>

        <select  class="p-2 outline-secondary-light outline drop-shadow-xl drop-shadow-secondary-light " name="" id="velocity">
            <option>0.25</option>
            <option>0.5</option>
            <option>0.75</option>
            <option>1</option>
            <option>1</option>
            <option>1.25</option>
            <option>1.5</option>
            <option>1.75</option>
            <option>2</option>
        </select>
    </div>
    <div class="cursor-pointer">
        <span class="material-icons-outlined">volume_up</span>
    </div>
    <audio #audioElement src="assets/audio/IntroduccionTuSaludOnline.mp3" controls class="appearance-none">
        Jl grande
    </audio>
</div>
