<article
    class="min-h-[85vh] w-full flex flex-wrap dark:bg-dark bg-light items-center justify-center  space-x-20 dark:text-white mt-[15vh]">
    <section class="w-full md:w-2/3 lg:w-1/3 h-full flex flex-col justify-center space-y-8 p-10">
        <h1 class="font-bebas text-6xl font-medium">TU SALUD ONLINE</h1>
        <span class="font-bebas text-3xl font-medium dark:text-gray-200">CENTRO DE SALUD DESDE 1970</span>
        <p class="dark:text-gray-300">Bienvenidos a Tu Salud Online, tu plataforma confiable para acceder a consultas
            médicas desde la comodidad de tu hogar. Nos esforzamos por brindarte una experiencia de atención médica sin
            igual, conectándote con profesionales de la salud altamente calificados a través de videoconsultas seguras y
            privadas. Entendemos que tu tiempo y bienestar son preciosos, por lo que hemos simplificado el proceso de
            obtener atención médica: ahora puedes recibir asesoramiento experto, diagnósticos y seguimientos, todo sin
            tener que salir de casa. Ya sea que necesites una consulta general, asesoramiento especializado o una
            segunda opinión, Tu Salud Online está aquí para asegurar que tu salud sea siempre nuestra máxima prioridad.
            ¡Únete a nuestra comunidad y experimenta la nueva era de la atención médica digital!</p>
    </section>
    <section class="w-full md:w-1/3 md:min-w-[400px] h-full flex justify-center items-center ">
        <img
            src="https://media.istockphoto.com/id/1334802862/es/v%C3%ADdeo/im%C3%A1genes-de-video-4k-de-un-joven-m%C3%A9dico-en-el-trabajo.jpg?s=640x640&k=20&c=vj8bjm2NLXABpOfWfaONqI0J85SeRL5QtP-MOb8ib40="
            class="aspect-video w-full bg-dark" alt="Video de presentacion y reseñar">
    </section>
</article>
