<div class="bg-light dark:bg-dark ">
    <article class="justify-evenly items-center flex flex-col xl:flex-row xl:gap-16 min-h-[85vh] mt-[15vh] max-w-screen-2xl mx-auto p-5 space-y-20">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col">
                <h1 class="text-8xl dark:text-white font-bebas">TU SALUD ONLINE</h1>
                <span class="text-4xl font-bebas dark:text-gray-200 text-gray-800">CENTRO DE SALUD DESDE 1970</span>
            </div>
            <p class="text-xl dark:text-gray-300 text-gray-600">Bienvenidos a Tu Salud Online, tu plataforma confiable para acceder a consultas
                médicas desde la comodidad de tu hogar. Nos esforzamos por brindarte una experiencia de atención médica sin
                igual, conectándote con profesionales de la salud altamente calificados a través de videoconsultas seguras y
                privadas. Entendemos que tu tiempo y bienestar son preciosos, por lo que hemos simplificado el proceso de
                obtener atención médica: ahora puedes recibir asesoramiento experto, diagnósticos y seguimientos, todo sin
                tener que salir de casa. Ya sea que necesites una consulta general, asesoramiento especializado o una
                segunda opinión, Tu Salud Online está aquí para asegurar que tu salud sea siempre nuestra máxima prioridad.
                ¡Únete a nuestra comunidad y experimenta la nueva era de la atención médica digital!</p>
        </div>
        <div class="">
            <img
                class="w-auto xl:min-w-[40rem] rounded aspect-video"
                src="https://media.istockphoto.com/id/1334802862/es/v%C3%ADdeo/im%C3%A1genes-de-video-4k-de-un-joven-m%C3%A9dico-en-el-trabajo.jpg?s=640x640&k=20&c=vj8bjm2NLXABpOfWfaONqI0J85SeRL5QtP-MOb8ib40="
                alt="doctor">
        </div>
    </article>
</div>
